appname = users-go
httpport = 8080
runmode = dev
autorender = false
copyrequestbody = true
EnableDocs = true
sqlconn = 

DB_Driver = mysql
DB_HOST = localhost
DB_PORT = 3306
DB_DATABASE = database
DB_USERNAME = username
DB_PASSWORD = password